[submodule "bom"]
  path = bom
  url = git@github.com:ao-apps/pragmatickm-password-bom.git
  branch = .
[submodule "all"]
  path = all
  url = git@github.com:ao-apps/pragmatickm-password-all.git
  branch = .
[submodule "model"]
  path = model
  url = git@github.com:ao-apps/pragmatickm-password-model.git
  branch = .
[submodule "renderer-html"]
  path = renderer-html
  url = git@github.com:ao-apps/pragmatickm-password-renderer-html.git
  branch = .
[submodule "servlet"]
  path = servlet
  url = git@github.com:ao-apps/pragmatickm-password-servlet.git
  branch = .
[submodule "style"]
  path = style
  url = git@github.com:ao-apps/pragmatickm-password-style.git
  branch = .
[submodule "taglib"]
  path = taglib
  url = git@github.com:ao-apps/pragmatickm-password-taglib.git
  branch = .
[submodule "view"]
  path = view
  url = git@github.com:ao-apps/pragmatickm-password-view.git
  branch = .
